// colors
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$color-secondery-light: #ffb900;
$color-secondery-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark:#777;
$color-grey-dark-2:#999;
$color-grey-dark-3:#333;

$color-white:#fff;
$color-black:#000;


// font
$default-font-size: 1.6rem;





$one-second : all 1s ease-in-out;
$point-five: all .5s ease-in-out;
$point-four: all .4s ease-in-out;
$point-three: all .3s ease-in-out;
$point-two: all .2s ease-in-out;
$point-one: all .1s ease-in-out;

$shadow-two:0 1.5rem 3rem rgba(0,0,0,0.6);
$shadow-one:0 1rem 2rem rgba(0,0,0,0.4);
$shadow-point:0 0.5rem 1rem rgba(0,0,0,0.2);
$shadow-point2:0 0.5rem 3rem rgba(0,0,0,0.3);