.u-margin-top-larger{margin-top: 12rem !important;} 
.u-margin-top-large{margin-top: 8rem !important;} 
.u-margin-top-bigger{margin-top: 6rem !important;} 
.u-margin-top-big{margin-top: 4rem !important;} 
.u-margin-top-mid{margin-top: 2rem !important;}
.u-margin-top-small{margin-top: 1.5rem !important;}

.u-margin-bottom-larger{margin-bottom: 12rem !important;}
.u-margin-bottom-large{margin-bottom: 8rem !important;}
.u-margin-bottom-bigger{margin-bottom: 6rem !important;}
.u-margin-bottom-big{margin-bottom: 4rem !important;}
.u-margin-bottom-mid{margin-bottom: 2rem !important;}
.u-margin-bottom-small{margin-bottom: 1.5rem !important;}


.u-margin-topBottom-larger{margin: 12rem 0 !important;} 
.u-margin-topBottom-large{margin: 8rem 0 !important;} 
.u-margin-topBottom-bigger{margin: 6rem 0 !important;}
.u-margin-topBottom-big {margin: 4rem 0 !important;}
.u-margin-topBottom-mid {margin: 2rem 0 !important;

    // @include respond(tab-land) {
    //     margin: 1rem 0 !important;
    // } 
} 
.u-margin-topBottom-small {margin: 1.5rem 0 !important;} 


.u-center{text-align: center !important}  